.git
.gitignore
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/node_modules
**/dist
**/.venv
ritvnv
backend/runtime
frontend/.env
backend/.env
backend/.env.docker
*.pem
aws-key.pem
